&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <13>;
	scl-pin = <12>;

	/*
	 * The "@77" part here is the slave address on the I2C bus.
	 */
	bme280_i2c: bme280@77 {
		label = "BME280_I2C";
		compatible = "bosch,bme280";
		reg = <0x77>;	/* the reg must match the @77 */
	};
};

&{/aliases} {
	/* Aliases make it more convenient to access devicetree data. */
	my-sensor = &bme280_i2c;
};
